@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left, .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left {
    background: url('/static/images/clientregister.png') no-repeat center center;
    background-size: cover;
}

.right {
    background: url('/static/images/transporter_register.png') no-repeat center center;
    background-size: cover;
}

.button {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.9);
    border-color: white;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stats {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.stat {
    background-color: #2e2e2e;
    padding: 15px;
    border-radius: 5px;
    flex-grow: 1;
    text-align: center;
}

.countdown {
    font-weight: bold;
    margin-top: 10px;
}

.updates-section {
    margin-top: 20px;
}

.updates-section .update {
    background-color: #3e3e3e;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}