<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loads Auction</title>
    <link rel="stylesheet" href="/static/css/bid.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    < <div class="bid-container">
        <div class="left-side"></div>

        <div class="right-side">
            <!-- Dynamically load content from Flask -->
            {% for load in loads %}
            <div class="load-item {% if load.perfect_match %}perfect-match{% endif %}">
                <div class="load-details">
                    <p>
                        <!-- Create a dynamic link to the bidding page for each load -->
                        <a href="{{ url_for('place_bid', load_name=load.load_name, route=load.route, quantity=load.quantity, rate=load.price) }}">
                            <span class="load-name">{{ load.load_name }}</span>
                        </a>
                        <span class="stars">{{ load.stars }}</span>
                        {% if load.price %}${{ load.price }}{% endif %}
                        <span class="member-status">{{ load.status }}</span>
                    </p>
                    {% if load.route %}
                    <p>{{ load.route }}</p>
                    {% endif %}
                </div>
                <div class="price">{{ load.price }}</div>
                {% if load.perfect_match %}
                <div class="star-flashing">
                    <div class="star">Perfect Match!</div>
                </div>
                {% endif %}
                <button class="all-bid-button">Bid</button>
            </div>
            {% endfor %}

            <button class="upgrade-button" onclick="window.location.href='/transporter-package'">Upgrade to Bid All</button>
            <button class="all-back-button" a href="#">Back</button>
        </div>
    </div>
</body>
</html>