<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/css/registration.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="left">
            <a href="/welcome-shipper" class="button">Register as Shipper</a>
        </div>
        <div class="right">
            <a href="/welcome-transporter" class="button">Register as Transporter</a>
        </div>
            {% extends 'agent.html' %}
    {% block title %}Landing Page{% endblock %}

    {% block content %}
        
    {% endblock %}
        </div>
</body>
</html>
